/* App.css */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  background-color: #f8f9fa;
  flex: 1;
}
