.book-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: right;
  width: calc(100% - 2rem);
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.book-card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.book-card p {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.book-card a {
  display: block;
  text-align: center;
  padding: 0.5rem;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.book-card a:hover {
  background-color: #555;
}
